# --- Secrets ---
secrets.json

# --- Python & Environments ---
medsam2_env/
.venv/
__pycache__/
*.pyc

# --- MedSAM2 Specifics ---
MedSAM2/

# --- IDEs ---
.vscode/
.idea/

# --- Data & outputs ---
data/
outputs/